    <div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
             <div class="modal-content">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Login</h4>
                </div>
                <div class="modal-body">
                        <form name="login-form" ng-submit="loginCtrl.login()">
                                <div class="form-group">
                                        <input type="email" ng-model="loginCtrl.loginEmail" class="form-control" placeholder="Email address" required /> 
                                </div>
                                <div class="form-group">
                                        <input type="password" ng-model="loginCtrl.loginPassword" class="form-control" placeholder="Password" required />
                                </div>
                                <button type="submit" class="btn btn-default">Login</button>
                        </form>
                </div>
                <div class="modal-footer" style="text-align:center;">
                        <div ng-show="loginCtrl.invalidLogin" class="alert alert-danger" role="alert">
                                {{ loginCtrl.invalidLoginMessage }}
                        </div>
                </div>
                <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel1">Sign up</h4>
                </div>
                <div class="modal-body">
                        <form name="signup-form" ng-submit="loginCtrl.signup()" novalidate>
                                <div class="form-group">
                                        <input type="text" ng-model="loginCtrl.signupFirstName" class="form-control" placeholder="First name" required /> 
                                </div>
                                <div class="form-group">
                                        <input type="text" ng-model="loginCtrl.signupLastName" class="form-control" placeholder="Last name" required />
                                </div>
                                <div class="form-group">
                                        <input type="email" ng-model="loginCtrl.signupEmail" class="form-control" placeholder="Email address" required /> 
                                </div>
                                <div class="form-group">
                                        <input type="text" ng-model="loginCtrl.signupPhoneNumber" class="form-control" placeholder="Phone number" required />
                                </div>
                                <div class="form-group">
                                        <input type="password" ng-model="loginCtrl.signupPassword" class="form-control" placeholder="Password" required />
                                </div>
                                <button type="submit" class="btn btn-default">Sign up</button>
                        </form>
                </div>
                <div class="modal-footer" style="text-align:center;">
                        <div ng-show="loginCtrl.invalidSignup" class="alert alert-danger" role="alert">
                                {{ loginCtrl.invalidSignupMessage }}
                        </div>
<!--
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
-->
                </div>
             </div>
        </div>
    </div>
